@tailwind base;
@tailwind components;
@tailwind utilities;


.products {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    display: grid;
    padding: 0 1rem;
    grid-template-columns: repeat(
        auto-fill,
        minmax(220px, 1fr)
    );
    gap: 10px;
}

.product-image {
    height: 282px;
}


.navbar {
    min-height: 20px;
}
.btn {
    
    min-height: 0;
    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}
